h1 {
  text-align: center;
}

canvas {
  border: 1px solid grey;
  width: 600px;
  background-color: black;
}

div.container {
  display: flex;
  gap: 20px;
  margin: 20px
}

div.objects {
  margin: 10px 0;
}

div.objects div.box {
  border:3px dashed grey;
  width: 60px;
  background-color: black;
}


div.objects div.box img {
  width: 50px;
}
div#mouse-values {
  margin: 20px;
}

div#mouse-values input {
  width: 50px;
}

polygon.arrow {
  fill:#0a0;
  stroke:purple;
  stroke-width:2;
}
polygon.arrow:hover {
  fill: yellow;
}
